.container{
    margin: 0;
    padding: 0;
    text-align: center;
}
.landing {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

  .landingImage {
    width: 100%;
    display: block;
    transition: transform 0.3s ease; 
  }
.landing h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 2em;
}

.judulDetail{
  margin: auto;
}
.profilDetail {
  width: 75vw;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textContainer {
  flex: 1;
  padding-right: 1rem; /* Atur sesuai kebutuhan Anda */
}
